fastapi
uvicorn
colorlog
pydantic
requests
selenium
pathlib
typing
pytest
google-auth
google-auth-oauthlib
google-api-python-client
PyPDF2
pdfplumber
python-docx
openai
deprecation
deprecated
phonenumbers
googletrans
python-dotenv
webdriver-manager
pyyaml
ollama